@charset "utf-8";
/* CSS Document */

body{
    background-image:url(Imagenes/BackGround.png);
    background-repeat:repeat;
    margin:0px;	
}

#Principal{
    border: solid 1px #ddd;
    max-width:1000px;
    width:100%;
    margin-left:auto;
    background-color:#fbfbfb;
    margin-right:auto;	
}



#SobrePrincipal{
    margin-top:-60px;
    max-width:1000px;
    width:100%;
    margin-left:auto;
    background-color:rgba(204,204,204,0.2);
    margin-right:auto;
}


#Banner{
    border: solid 1px #CCCCCC;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    padding-top:6px;
    background-color:#fff;
    border-radius:10px;
    height:505px;
}
#Contenidos{
    border: solid 1px #CCCCCC;
    width:98%;
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    padding-top:6px;
    background-color:#fff;
    border-radius:10px;
    min-height:400px;
}


#MenuSup{
    background-color:#004490;
    height:50px;
    width:100%;
    opacity:0.9;
    margin-top:-1px;
    box-shadow: 2px 2px 15px #999;
    -webkit-box-shadow: 2px 2px 15px #999;
    -moz-box-shadow: 2px 2px 15px #999;

}
#MenuSup2{
    background-color:#006DE6;
    height:50px;
    width:100%;
    opacity:0.9;
    margin-top:-1px;
    box-shadow: 2px 2px 15px #999;
    -webkit-box-shadow: 2px 2px 15px #999;
    -moz-box-shadow: 2px 2px 15px #999;

}

#Pie{margin-top:-10px;
     background-color:#004490;
     width:100%;
     box-shadow: 2px 2px 15px #999;
     -webkit-box-shadow: 2px 2px 15px #999;
     -moz-box-shadow: 2px 2px 15px #999;
     margin-bottom:0px;

}


.LeftTitulo{

    color:#fff;
    font-family:letraMyriad;
    font-weight:bold;
    padding:5px;
    padding-left:15px;
    font-size:30px;
    text-shadow: 0px 0px 5px #000;
}
.LeftTitulo2{
    text-align:center;
    color:#004490;
    font-family:letraOswald;
    font-weight:bold;
    padding:5px;
    padding-left:15px;
    font-size:24px;
    text-shadow: 0px 0px 5px #f2f2f2;
}


.LEftMenu{
    cursor:pointer;
    text-shadow: 0px 0px 13px #fff;
    font-family:letraMyriad;
    color:#fff;
    font-size:22px;
    padding:3px;
    padding-left:30px;
    margin-bottom:-5px;
}
.LEftMenu:hover{	
    background-color:rgba(204,204,204,0.2);
}


.LEftMenu2{
    cursor:pointer;
    text-shadow: 0px 0px 13px #fff;
    font-family:letraMyriad;
    color:#06C;
    font-size:20px;
    padding:8px;
    margin-bottom:-5px;
}
.LEftMenu2:hover{	
    color:#fff;
    background-color:#06C;
}


.MenuTop{
    padding:5px;	
    border-radius:5px;
    background-color:#004490;
    color:#fff;	
    transition: color 0.7s,background-color 0.7s;	
}
.MenuTop:hover{	
    background-color:#fff;
    color:#333D45;
}
.MenuTop2{
    padding:5px;	
    background-color:#006DE6;
    color:#fff;	
    transition: color 0.7s,background-color 0.7s;	
}
.MenuTop2:hover{	
    background-color:#fff;
    color:#006DE6;
}


.Enlace{	
    text-decoration:none;
    color:#fff;
}


@font-face{
    font-family: letraOswald;
    src: url(Letras/Oswald.ttf);	
} 

@font-face{
    font-family: letraMyriad;
    src: url(Letras/Myriad.ttf);	
} 

.CeldaIndex{

    box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    border-radius:3px;
    width:250px;
    border: solid 1px #333;
    padding:3px;
    background-color:#004490;
    color:#FFF;
    text-align:justify;

    transition: background-color 0.4s,border 0.4s;	
}
.CeldaIndex:hover{
    border: solid 1px #fff;background-color:#003366;
}

.redes{
    opacity: 1;
    transition: opacity 0.5s;	
}
.redes:hover{	
    opacity: 0.8;
}
.button1 {    padding-left:12px;
              padding-right:12px;
              padding-top:6px;
              padding-bottom:6px;
              background: #E2E2E2;
              color: #000;
              border:1px solid black;
              border-radius:3px;
              font-size: 12px;
              box-shadow: 2px 2px 2px #666;
}
.button1:hover {    padding-left:12px;
                    padding-right:12px;
                    padding-top:6px;
                    padding-bottom:6px;
                    background: #ccc;
                    color: #000;
                    border:1px solid black;
                    border-radius:3px;
                    font-size: 12px;
                    box-shadow: 2px 2px 2px #999;
}
.button1:active {    padding-left:12px;
                     padding-right:12px;
                     padding-top:6px;
                     padding-bottom:6px;
                     background: #aaa;
                     color: #000;
                     border:1px solid black;
                     border-radius:3px;
                     font-size: 12px;
                     box-shadow: 2px 2px 2px #ccc;
}

